<header>
  <p-toolbar
    styleClass="bg-gray-900 shadow-2 border-noround border-none"
    class="bg-gray-900 shadow-2 border-noround border-none"
    [style]="{
      'background-image':
        'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))'
    }"
  >
    <ng-template pTemplate="start">
      <img
        routerLink="/assets"
        src="assets/images/logo.png"
        class="h-2rem w-full"
      />
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          shape="circle"
        />
        <span class="font-bold text-bluegray-50 user-name">Amy Elsner</span>
      </div>
    </ng-template>
  </p-toolbar>
</header>
